<template>
    <div>
        <div v-if="role=='write'">
            <el-form ref="myform" :model="newsForm" label-width="120px">
            <el-form-item label="标题：">
                <el-input v-model="newsForm.Title"></el-input>
            </el-form-item>
            <el-form-item label="发布平台:">
                <el-select v-model="newsForm.PublishPlatform" placeholder="请选择发布平台">
                    <el-option label="报纸" value="1"></el-option>
                    <el-option label="微信" value="2"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="链接:">
                <el-input v-model="newsForm.Link"></el-input>
            </el-form-item>
            <el-form-item label="类型:">
                <el-select v-model="newsForm.Type" placeholder="请选择类型">
                    <el-option label="图文" value="1"></el-option>
                    <el-option label="视频" value="2"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item v-show="false" label="内容:">
                <el-input type="textarea" v-model="newsForm.Content" value=""></el-input>
            </el-form-item>
            <el-form-item label="字数:">
                <el-input v-model.number="newsForm.WordsNum" type="number"></el-input>
            </el-form-item>
            <el-form-item label="是否外部约稿:">
                <el-radio-group v-model="newsForm.IsExternalSolicitation">
                    <el-radio label="1">是</el-radio>
                    <el-radio label="0">否</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">发布</el-button>
            </el-form-item>
            </el-form>
        </div>
        <div v-if="role=='score'" style="margin-left: 10px">
            <el-button @click="scorehandler" type="primary">打分</el-button>
        </div>
        <div style="padding: 10px;margin-top:40px">
              <el-date-picker
                style="margin-bottom:20px"
                v-model="timeRange"
                type="daterange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                @change="changePicker">
            </el-date-picker>
            <el-table  v-loading="loading" :data="tableData" style="width: 100%" height="600" @selection-change="handleSelectionChange">
                <el-table-column type="selection" width="55" :selectable="selectable"> </el-table-column>
                <el-table-column label="标题" prop="title"></el-table-column>
                <el-table-column label="作者" prop="author"></el-table-column>
                <el-table-column label="发布时期" prop="publishTime"></el-table-column>
                <el-table-column label="发布平台" prop="publishPlatform" :formatter="platformRender"></el-table-column>
                <el-table-column label="链接" prop="link"></el-table-column>
                <el-table-column label="类型" prop="type" :formatter="typeRender"></el-table-column>
                <el-table-column label="稿件字数" prop="wordsNum"></el-table-column>
                <el-table-column label="是否外部约稿" prop="isExternalSolicitation" :formatter="isExternalSolicitationRender"></el-table-column>
                <el-table-column label="分数" prop="score"></el-table-column>
            </el-table>
              <el-pagination
              :current-page="PageIndex"
                layout="prev, pager, next"
                :total="totalCount"
                @current-change="search">
            </el-pagination>
        </div>
        <el-dialog title="打分" :visible.sync="dialogVisible" :close-on-click-modal="false" width="30%">
            <div>
                <span>分数：</span>
                <el-input v-model.number="score" type="number"></el-input>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="cancel">取 消</el-button>
                <el-button type="primary" @click="saveScore">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
export default {
    name: 'manuscript',
    data() {
        return {
            role: localStorage.getItem('ms_userrole'),
            newsForm: {
                Title: '',
                PublishPlatform: '',
                Link: '',
                Type: '',
                Content: '',
                WordsNum: 0,
                IsExternalSolicitation: false
            },
            tableData: [],
            selectedRecords: [],
            dialogVisible: false,
            score: 0,
            isSave: false,
            totalCount:10,
            loading:false,
            timeRange:null,
            PageIndex:1
        };
    },
    components: {
        //Schart
    },
    mounted() {
        this.search();
    },
   
    methods: {
        changePicker(){
            this.search()
        },
        handleCurrentChange(val){
            console.log(val);
            },
        // 是否可勾选
        selectable(row){
            return !row.score
        },
        search(PageIndex=1) {
            this.loading = true
            this.PageIndex = PageIndex
            this.$axios.get(`/api/Manuscript/Page?PageIndex=${this.PageIndex}&PageSize=10&&PublistStartTimestamp=${this.timeRange?new Date(this.timeRange[0]).getTime():null}&PublistEndTimestamp=${this.timeRange?new Date(this.timeRange[1]).getTime():null}`).then((res) => {
            this.loading = false
                this.tableData = res.result.data;
                this.totalCount = res.result.totalCount || 0
            });
        },
        platformRender(row, column, cellValue, index){
            const obj = { 1 :'报纸',2:'微信'}
            return obj[cellValue]
        },
        typeRender(row, column, cellValue, index){
            const obj = { 1 :'图文',2:'视频'}
            return obj[cellValue]
        },
        isExternalSolicitationRender(row, column, cellValue, index){
            // const obj = { true :'是',false:'否'}
            return cellValue==true?"是":"否"
        },
        cancel() {
            this.dialogVisible = false;
        },
        handleSelectionChange(row) {
            this.selectedRecords = row;
        },
        saveScore() {
            // 
            if (isNaN(this.score)) {
                this.$message.error('分数类型错误');
                return;
            }
            if (this.score < 0 || this.score > 100) {
                this.$message.error('分数在0到100以内');
                return;
            }
            this.dialogVisible = true;

            let ids = [];
            this.selectedRecords.forEach((item) => {
                ids.push(item.id);
            });
            this.$axios
                .put('/api/Manuscript/score', {
                    ManuscriptIds: ids,
                    Score: this.score
                })
                .then((res) => {
                    if (res && res.code == 0) {
                        this.$message.success('操作成功');
                        this.dialogVisible = false;
                        this.score=0;
                        this.search();
                    } else {
                        this.$message.error(res.message);
                    }
                });
        },

        scorehandler() {
            if (this.selectedRecords.length == 0) {
                this.$message({
                    message: '请选择记录',
                    type: 'error'
                });
                return;
            }
            this.dialogVisible = true;
        },
        onSubmit() {
            if (!this.newsForm.Title || !this.newsForm.PublishPlatform || !this.newsForm.Link || !this.newsForm.Type || !this.newsForm.IsExternalSolicitation || !this.newsForm.WordsNum) {
                this.$message({
                    message: '字段填写不完整',
                    type: 'error'
                });
                return;
            }
            if(this.newsForm.WordsNum<0){
                this.$message({
                    message: '字数不能小于0',
                    type: 'error'
                });
                return;
            }

            if(this.newsForm.Title.length>30){
                this.$message({
                    message: '标题不超过30字',
                    type: 'error'
                });
                return;
            }

            
            if(this.newsForm.Link.length>200){
                this.$message({
                    message: '链接不超过200字符',
                    type: 'error'
                });
                return;
            }


            let params = {
                Title: this.newsForm.Title,
                PublishPlatform: parseInt(this.newsForm.PublishPlatform),
                Link: this.newsForm.Link,
                Type: parseInt(this.newsForm.Type),
                Content: this.newsForm.Content,
                WordsNum: this.newsForm.WordsNum,
                IsExternalSolicitation: this.newsForm.IsExternalSolicitation == '1' 
            };
            this.$axios.post('/api/Manuscript/Publish', params).then((res) => {
                if (res && res.code == 0) {
                    this.$message.success('保存成功');
                    this.search();
                } else {
                    this.$message({
                        message: res.message,
                        type: 'error'
                    });
                }
            });
        }
    }
};
</script>

<style scoped>
.el-row {
    margin-bottom: 20px;
}

.grid-content {
    display: flex;
    align-items: center;
    height: 100px;
}

.grid-cont-right {
    flex: 1;
    text-align: center;
    font-size: 14px;
    color: #999;
}

.grid-num {
    font-size: 30px;
    font-weight: bold;
}

.grid-con-icon {
    font-size: 50px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #fff;
}

.grid-con-1 .grid-con-icon {
    background: rgb(45, 140, 240);
}

.grid-con-1 .grid-num {
    color: rgb(45, 140, 240);
}

.grid-con-2 .grid-con-icon {
    background: rgb(100, 213, 114);
}

.grid-con-2 .grid-num {
    color: rgb(45, 140, 240);
}

.grid-con-3 .grid-con-icon {
    background: rgb(242, 94, 67);
}

.grid-con-3 .grid-num {
    color: rgb(242, 94, 67);
}

.user-info {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}

.user-avator {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.user-info-cont {
    padding-left: 50px;
    flex: 1;
    font-size: 14px;
    color: #999;
}

.user-info-cont div:first-child {
    font-size: 30px;
    color: #222;
}

.user-info-list {
    font-size: 14px;
    color: #999;
    line-height: 25px;
}

.user-info-list span {
    margin-left: 70px;
}

.mgb20 {
    margin-bottom: 20px;
}

.todo-item {
    font-size: 14px;
}

.todo-item-del {
    text-decoration: line-through;
    color: #999;
}

.schart {
    width: 100%;
    height: 300px;
}
</style>
